body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: url('https://cdnn21.img.ria.ru/images/155697/46/1556974611_0:0:1000:563_600x0_80_0_0_5bacd45ff3360c3438708e6a8e898d13.jpg') center/cover no-repeat fixed;
    color: #fff;
  }

  header {
    background-color: #333;
    padding: 10px;
    text-align: center;
    display: flex;
    justify-content: space-around;
  }

  nav {
    display: flex;
    justify-content: space-around;
    background-color: #eee;
    padding: 10px;
  }

  section {
    padding: 20px;
  }

  .black-section {
    background-color: #000;
  }

  .white-section {
    background-color: #fff;
    color: #333;
  }

  footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  .footer-links {
    display: flex;
    align-items: center;
  }

  .footer-links a {
    margin-right: 10px;
  }